html{
    scroll-behavior: smooth;
}
*,
::after,
::before{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



.header {
  width: 100%;
  background-color: deepskyblue;
  background: deepskyblue;
  height: 50px;
  position: fixed;
  border-radius: 2px 2px 2px 2px;
  z-index:100;
  
 
}

.header a {

  padding: 14px;
  text-decoration: none;
  align-items: center;
  margin-left: 40px;
  color: white;
}

.links {
  display: flex;
  list-style: none;
  float: left;
  margin-top: 16.6px;
}

.means:hover {
  border: solid 2px white;
  background-color: white;
  color: deepskyblue;
  transition: 0.38s ease-out;

}

.burger div {
  margin: 4px;
  width: 25px;
  height: 4px;
  background-color: white;

}

.burger {
  margin-top: 12px;
  display: none;
  cursor: pointer;
}


.logo {
  margin-top: 17px;
  float: right;
  font-size: 25px;
  font-family: inherit;
  color: white;
}

.sliderCover{
    width: 37%;
    position: relative;
    display: flex;
    margin: auto;
    overflow: hidden;
}

.slides{
    width:100%;
    height:100%;

    
}
.nextBtn{
    position: absolute;
    right: 0%;
    top: 50%;
    z-index:10;
    padding:0.7rem;
    outline:none;
    border:none;
    color:white;
    background:rgba(42, 149, 168, 0.637);
    cursor: pointer;
}

.prevBtn {
    position: absolute;
    right: 91%;
    top: 50%;
    z-index:10;
    padding:0.7rem;
    outline:none;
    border:none;
    color:white;
    background:rgba(42, 149, 168, 0.637);
    cursor: pointer;
}
.buyMe{
    width:100px;
    height:50px;
    outline:none;
    border:none;
    color:white;
    background-color:deepskyblue;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    
}
.buyMe:hover{
    color: deepskyblue;
    background-color: white;
}
.open-modal{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.5);
    opacity:0;
    visibility:hidden;
    transition: ease-in-out 0.5s;
}

.open-check{
    z-index:1000;
    opacity:1;
   visibility:visible; 
}
.close{
    margin-right:6px;
    width:30px;
    height:20px;
    margin-top:3px;
    outline:none;
    border:none;
    background:none;
    color:white;
    cursor: pointer;
    font-size:20px;
}

.modal{
    height: 600px;
    border-radius:10px 10px 10px 10px;
    width: 500px;
    transform: translate(85%, 10px);
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.5);
}
.one {
        flex-direction: row;
        display: flex;
        padding: -6rem;
    }
    .talk{

        margin-left:20px;
    }
    .above{
        justify-content: space-between;
        display:flex;
        background-color:deepskyblue;
        color:white;
        height:60px;
    }
    
h4{
    color:deepskyblue;
}

.a {

  position: absolute;
  color: white;
  width: 20%;
  padding-top: 120px;
  font-size: 100px;
  text-align: center;
  

}

.footer{
  width:100%;
  height:300px;
  background:deepskyblue;
  visibility:visible;
  z-index:-1000;
}
.teamone{
  text-decoration:none;
  float:left;
 transform: translate(20%, 50%);
  margin:40px;
  color:black;
  transition: 1s;
}
.teamone:hover{
  color:white;
}
.pic {
    width: 47px;
    height: 44px;
    border-radius: 30px;
}
.teamtwo {
    float: left;
    justify-content: space-between;
    transform: translate(-411%, 521%);
    cursor: pointer;
    color: white;
}
.daro {
    font-size: 20px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 300px;
    margin-right: 11px;
}
.smile{
    color:rgba(231, 29, 29, 0.74);
}
.form-section{
    margin:auto;
}
.date{
    color:white;
}
.form{
    position: relative;
    width: 44%;
    height: 20%;
    margin: 7%;
    overflow: hidden;
    margin-left: 143px;
   
  }
  
  .form input{
    outline:none;
    width:100%;
    height:100%;
    padding-top:20px;
    left:0;
    bottom:0;
   border:none;
  
  }
  .form label{
    
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    pointer-events:none;
    border-bottom:1px solid black;
  }
  
  .form label::after{
    content:'';
    width:100%;
    height:100%;
    left:0;
    bottom:0;
    border-bottom: 2px solid deepskyblue;
    position:absolute;
    transform:translateX(-100%);
    transition: ease 0.45s;
  }
  
  .content-name{
    position:absolute;
    bottom:5px;
    color:deepskyblue;
    transition: ease 1s;
  }
  
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name{
    transform:translateY(-80%);
  }
  
  .form input:focus + .label-name::after,
  .form input:valid + .label-name:after{
    transform: translateX(0%);
  }
  select{
    width:130px;
    height:40px;
    border-radius:4px 4px;
    outline:none;
    border:none;
    
  }
  
  option{
   font-size:15px;
    width:130px;
    height:40px;
    border-radius:2px 2px ;
    
  }
  
  textarea{
    height:70px;
    width:250px;
    border:none;
    outline:none;
  }
  .enter{
    border:none;
    outline:none;
    width:100px;
    height:40px;
    background:deepskyblue;
    color:white;
    transition: 0.5s ease-in-out;
  }
  .enter:hover{
    color:deepskyblue;
    background:white;
  }

  .up {
    width: 59px;
    height: 45px;
    border-radius: 3px 3px 3px 3px;
    background:rgba(7, 180, 238, 0.63);
    color: white;
    position: fixed;
    z-index: 100;
    float: right;
    right: 0.1%;
    transform: rotate(90deg) translate(-400px, 0px);
   opacity:0;
   visibility:visible;
   z-index:-100;
   outline:none;
   border:none;
   transition:ease-in-out 0.5s;
   cursor: pointer;
}

.show{
    opacity: 1;
    visibility: visible;
    z-index:100;
  }
  .copy{
    transform: translate(96px, 281px);
    float: right;
    color: white;
    display: flex;
  }

@media screen and (max-width:900px){
.header {
    width: 100%;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    position: fixed;
    border-radius: 2px 2px 2px 2px;
    z-index: 100;
}
 
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 100px;
    text-align: center;
}
 
  
.logo {
    margin-top: 17px;
    float: right;
    font-size: 25px;
    font-family: inherit;
    color: white;
}
  

  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
  
.teamtwo {
    float: left;
    font-size: 10px;
    justify-content: space-between;
    transform: translate(-663%,818%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

  
.daro {
    font-size: 20px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 274px;
    margin-right: 20px;
}
  
  
  
  
  
  
}

@media screen and (max-width:850px){
 .header {
    width: 850px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    position: fixed;
    border-radius: 2px 2px 2px 2px;
    z-index: 100;
} 

.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 100px;
    text-align: center;
}
  

  

.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}  
  
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    margin: 34px;
    color: black;
    transition: 1s;
}
  
 .teamtwo {
    float: left;
    font-size: 10px;
    justify-content: space-between;
    transform: translate(-602%,818%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}  
  
 
  
.daro {
    font-size: 18px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 274px;
    margin-right: 20px;
}  
 
  
  
  
}

@media screen and (max-width:820px){
 .header {
    width: 820px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    position: fixed;
    border-radius: 2px 2px 2px 2px;
    z-index: 100;
}
  
  
.logo {
    margin-top: 14px;
    float: right;
    font-size: 25px;
    margin-right: 14px;
    font-family: inherit;
    color: white;
}
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 100px;
    text-align: center;
}
  

.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    margin: 34px;
    color: black;
    transition: 1s;
}

  
.teamtwo {
    float: left;
    font-size: 10px;
    justify-content: space-between;
    transform: translate(-598%,818%);
    cursor: pointer;
    color: white;
}  
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
} 
 
.daro {
    font-size: 19px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 243px;
    margin-right: 20px;
}  
  
  
  
}
@media screen and (max-width:800px) {

.logo {
    margin-top: 9px;
    float: right;
    margin-right: 28px;
    font-size: 23px;
    font-family: inherit;
    color: white;
  }
  
  
  .burger div {
    margin: 4px;
    width: 25px;
    height: 4px;
    background-color: white;

  }

  .burger {
    margin-top: 12px;
    display: block;
    cursor: pointer;
  }

  .links {
    position: absolute;
    width: 200px;
    height: 400px;
    top: 20px;
    left: 0px;
    background-color: deepskyblue;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.55s ease-in-out;
    
  }

  .links-active {
    transform: translateX(0%);

  }


  .header {
    z-index: 10;
    width: 800px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}

  }

  .header a {

    padding: 14px;
    text-decoration: none;
    align-items: center;
    margin-left: 40px;
    color: white;
  }

 
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 80px;
    text-align: center;
  }
  
  
 
  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
  
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 15px;
    margin: 40px;
    color: black;
    transition: 1s;
  }
  
  
  

.daro {
    font-size: 25px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 204px;
    margin-right: 20px;
  }
  
  
  

}

@media and screen (max-width:700px){

  .header {
    width: 700px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}

.logo {
    margin-top: 9px;
    float: right;
    margin-right: 28px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 80px;
    text-align: center;
}
  

.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 15px;
    margin: 24px;
    color: black;
    transition: 1s;
  }
  
   
  .pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
  
 
.daro {
    font-size: 18px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 242px;
    margin-right: 14px;
}

  
}



@media screen and (max-width:650px){
 .header {
    width: 650px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
 .logo {
    margin-top: 9px;
    float: right;
    margin-right: 28px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 80px;
    text-align: center;
}
  
  

.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 15px;
    margin: 24px;
    color: black;
    transition: 1s;
}
  
.teamtwo {
    float: left;
    font-size: 10px;
    justify-content: space-between;
    transform: translate(-493%,818%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
  
.daro {
    font-size: 18px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 242px;
    margin-right: 14px;
} 
  
  
}

@media screen and (max-width:620px){
 .header {
    width: 620px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
  
.header a {
    padding: 14px;
    text-decoration: none;
    align-items: center;
    margin-left: 40px;
    color: white;
}
  
  

.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 15px;
    margin: 24px;
    color: black;
    transition: 1s;
}
  
.teamtwo {
    float: left;
    font-size: 10px;
    justify-content: space-between;
    transform: translate(-491%,818%);
    cursor: pointer;
    color: white;
}
  
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
  
.daro {
    font-size: 18px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 242px;
    margin-right: 14px;
}
  
  
  
}



@media screen and (max-width:600px){
  
.header {
    width: 600px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  

  .logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  

.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 75px;
    text-align: center;
}
  

  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 29px;
    color: black;
    transition: 1s;
}
  
.teamtwo {
    float: left;
    justify-content: space-between;
    transform: translate(-389%, 770%);
    cursor: pointer;
    color: white;
}  
  
  
  
.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
  

.daro {
    font-size: 18px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 244px;
    margin-right: 4px;
}
  
  
  
  
  
}


@media screen and (max-width:500px){
 .header {
    width: 500px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
.logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 60px;
    text-align: center;
}
  
  

 
  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 27px;
    color: black;
    transition: 1s;
}

.teamtwo {
    float: left;
    font-size: 8px;
    justify-content: space-between;
    transform: translate(-577%, 916%);
    cursor: pointer;
    color: white;
}
  

  
.pic {
    width: 27px;
    height: 27px;
    border-radius: 30px;
}
  

  .daro {
    font-size: 17px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 203px;
    margin-right: 10px;
}
  
  
}

@media screen and (max-width:400px){
  
  .header {
    width: 400px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}

.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 50px;
    text-align: center;
}
  


.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
  
.teamtwo {
    float: left;
    font-size: 6px;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(-720%, 916%);
    cursor: pointer;
    color: white;
}
  
 .pic {
    width: 23px;
    height: 23px;
    border-radius: 30px;
}

.daro {
    font-size: 16px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 203px;
    margin-right: 10px;
}
  
  
}



@media screen and (max-width:360px){
 
.header {
    width: 360px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
  .logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}

.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 50px;
    text-align: center;
}
  
  

  
  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 18px;
    color: black;
    transition: 1s;
}
  
  
.teamtwo {
    float: left;
    font-size: 6px;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(-580%, 916%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 23px;
    height: 23px;
    border-radius: 30px;
}
  
  
.daro {
    font-size: 14px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 209px;
    margin-right: 10px;
}
  
  
  
}

@media screen and (max-width:350px){
  .header {
    width: 350px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
.logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 50px;
    text-align: center;
}


  
.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}
  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 17px;
    color: black;
    transition: 1s;
}
  
  
.teamtwo {
    float: left;
    font-size: 6px;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(-580%, 916%);
    cursor: pointer;
    color: white;
}
  
  
.pic {
    width: 23px;
    height: 23px;
    border-radius: 30px;
}
  
  
  
.daro {
    font-size: 14px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 209px;
    margin-right: 10px;
}
  
  
  
  
  
}

@media screen and (max-width:320px){
 .header {
    width: 320px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
  
.logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  

  .footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}

.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 17px;
    color: black;
    transition: 1s;
}

.teamtwo {
    float: left;
    font-size: 6px;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(-580%, 916%);
    cursor: pointer;
    color: white;
}
  
.daro {
    font-size: 14px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 209px;
    margin-right: 10px;
}
  
  
}

@media screen and (max-width:310px){
  
  .header {
    width: 310px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
.logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 23px;
    font-family: inherit;
    color: white;
}
  
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 120px;
    font-size: 50px;
    text-align: center;
}


 
 .footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
} 

.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 13px;
    margin: 17px;
    color: black;
    transition: 1s;
}  
.teamtwo {
    float: left;
    font-size: 6px;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(15%, 916%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 23px;
    height: 23px;
    border-radius: 30px;
}  
  
  
.daro {
    font-size: 9px;
    color: white;
    float: right;
    flex-direction: column;
    margin-top: 233px;
    margin-right: 10px;
} 
  
  
  
  
  

}
@media screen and (max-width:300px){
 
  .header {
    width: 300px;
    background-color: deepskyblue;
    background: deepskyblue;
    height: 50px;
    border-radius: 2px 2px 2px 2px;
}
  
  
.logo {
    margin-top: 9px;
    float: right;
    margin-right: 20px;
    font-size: 20px;
    font-family: inherit;
    color: white;
}
  
.a {
    position: absolute;
    color: white;
    width: 20%;
    padding-top: 146px;
    font-size: 50px;
    text-align: center;
}
  


.footer {
    width: 100%;
    height: 300px;
    background: deepskyblue;
    visibility: visible;
    z-index: -1000;
}

  
.teamone {
    text-decoration: none;
    float: left;
    transform: translate(20%, 50%);
    font-size: 11px;
    margin: 16px;
    color: black;
    transition: 1s;
}


  .teamtwo {
    float: left;
    font-size: 6px;
    justify-content: space-between;
    transform: translate(-561%, 1100%);
    cursor: pointer;
    color: white;
}
  
.pic {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}
  
  
  
  
}

