@media screen and (max-width: 1120px) {
  .slider {
    position: relative;
    width: 28%;
    display: flex;
    overflow: hidden;
  }
  .jack {
    position: absolute;
    right: 16%;
    top: 43%;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  img {
    width: 277px;
    height: 500px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    position: relative;
    width: 31%;
    display: flex;
    overflow: hidden;
  }
  img {
    width: 281px;
    height: 388px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 195px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .in li {
    margin: 41px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 23px;
    height: 23px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .link {
    padding: 1.1rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 900px) {
  .slider {
    position: relative;
    width: 32%;
    display: flex;
    overflow: hidden;
  }
  img {
    width: 254px;
    height: 389px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 175px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .in li {
    margin: 36px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 22px;
    height: 22px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .link {
    padding: 1rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 800px) {
  .slider {
    position: relative;
    width: 32%;
    display: flex;
    overflow: hidden;
  }
  .in li {
    margin: 35px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 22px;
    height: 20px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  img {
    width: 226px;
    height: 362px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .link {
    padding: 1rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}

@media only screen and (max-width: 712px) {
  .slider {
    position: relative;
    width: 33%;
    display: flex;
    overflow: hidden;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 134px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  img {
    width: 218px;
    height: 333px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
}
@media only screen and (max-width: 700px) {
  .inside {
    display: flex;
  }
  img {
    width: 196px;
    height: 333px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .slider {
    position: relative;
    width: 32%;
    display: flex;
    overflow: hidden;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 134px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .in li {
    margin: 27px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
    /* float: right; */
    font-size: 15px;
    transform: translateX(27px);
  }
  .size {
    width: 20px;
    height: 20px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
}

@media screen and (max-width: 600px) {
  .inside {
    display: block;
  }
  .slider {
    margin: auto;
    position: relative;
    width: 46%;
    display: flex;
    overflow: hidden;
  }
  img {
    width: 239px;
    height: 296px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 165px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .in li {
    margin: 36px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 20px;
    height: 20px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .link {
    padding: 1rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 500px) {
  .inside {
    display: block;
  }
  .slider {
    position: relative;
    width: 45%;
    display: flex;
    overflow: hidden;
    margin: auto;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 131px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  img {
    width: 198px;
    height: 327px;
    background-size: contain;
    border-radius: 4px 4px 4px 4px;
  }
  .in li {
    margin: 35px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 22px;
    height: 20px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .link {
    padding: 0.9rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 400px) {
  .inside {
    display: block;
  }
  slider {
    margin: auto;
    position: relative;
    width: 44%;
    display: flex;
    overflow: hidden;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 109px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  img {
    width: 154px;
    height: 266px;
    background-size: contain;
  }
  .size {
    width: 19px;
    height: 19px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .in li {
    margin: 35px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .link {
    padding: 0.7rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 350px) {
  .inside {
    display: block;
  }
  .slider {
    margin: auto;
    position: relative;
    width: 48%;
    display: flex;
    overflow: hidden;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 109px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  img {
    width: 147px;
    height: 266px;
    background-size: contain;
  }
  .in li {
    margin: 24px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 19px;
    height: 16px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
  .link {
    padding: 0.8rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 320px) {
  .slider {
    margin: auto;
    position: relative;
    width: 49%;
    display: flex;
    overflow: hidden;
  }
  img {
    width: 134px;
    height: 259px;
    background-size: contain;
  }
  .jack {
    position: absolute;
    right: 12%;
    top: 43%;
    width: 109px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 4;
  }
  .link {
    padding: 0.6rem;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: ease-in-out 0.2s;
  }
  .in li {
    margin: 22px;
    color: rgba(218, 165, 32, 0.651);
    display: flex;
  }
  .size {
    width: 24px;
    height: 16px;
    background-color: rgba(218, 165, 32, 0.664);
    color: white;
    border: none;
    outline: none;
    border-radius: 2px 2px 2px 2px;
    transition: ease-in-out 0.2s;
  }
}
